/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  /* regular / 400 */
  font-family:expletus;
  src: url(../fonts/ExpletusSans-Regular.ttf);
  font-weight: 400;
}



@font-face {
  /* bold / 700 */
  font-family:expletus;
  src: url(../fonts/ExpletusSans-Bold.ttf);
  font-weight: 700;
}


li:first-of-type {
  padding:1em;
  overflow:auto;

  font-family: expletus;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  
  font-size: 2em;

}

li:first-of-type p {
  /* JOUW CODE HIER */
  /* font-family: expletus; */
  line-height: 1.2em;

}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
  /* font-family: expletus; */
  font-weight: bold;
  font-size: 2em;
  
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: montse;
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: 100;
}


/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;
  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  margin:0;
  color:var(--color);

  /* JOUW CODE HIER */
  font-family: montse;
  font-size: 2em;
  font-weight: 100;
  line-height: 1.0em;
  text-transform: uppercase;
  color: var(--color);
  text-shadow: 0 0 0.25em var(--shadow);
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: saira;
  src: url(../fonts/Saira_Condensed-Bold.ttf);
  font-weight: 700;
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
  background-color: var(--background);
  display: grid;
  grid-auto-columns:min-content;
  place-content:center;
  text-align: center;

}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */
  font-family: saira;
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--color);
  text-shadow: 5px 5px var(--shadow);
  letter-spacing: .2em;
  transform:skewY(-5deg)
}