/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/
@font-face {
    font-family: han;
    src: url(../fonts/BlackHan.ttf);
    font-weight: 700;
}

li:first-of-type {
    display:grid;
    grid-auto-columns:min-content;  
    place-content:center;
    text-align:center;
    background-color: gray;
}

li:first-of-type h2{
    font-family: han;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3em;
    color: gray;
    text-shadow: 4px 4px 10px rgb(51, 51, 51);
}




/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
}

li:first-of-type {
    display:grid;
    grid-auto-columns:min-content;  
    place-content:center;
    text-align:center;
}

li:nth-of-type(2) h2{
    text-transform: uppercase;

}

li:nth-of-type(2) p{
    text-transform: uppercase;
}
/******************************/
/* CODE VOOR HET VIERDE BLOKJE */
/******************************/





/******************************/
/* CODE VOOR HET VIJFDE BLOKJE */
/******************************/





/******************************/
/* CODE VOOR HET ZESDE BLOKJE */
/******************************/

